<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Port" value="" />
      <add key="BaudRates" value="" />
      <add key="Databits" value="" />
      <add key="Parity" value="" />
      <add key="StopBits" value="" />
    </appSettings>
</configuration>